# This is a sample of what env file you should load in your shell if you wanted to run integration tests.

AZURE_TENANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AZURE_SUBSCRIPTION_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_LOCATION="westus"

ARM_TEMPLATE_FOLDER="azure"
ARM_CREATED_TAG="arm-creator"
ARM_REPLACE_PASSWORD="P@ssw0rd"